<div class="main1">
    <div class="title d-flex justify-content-center"><h2>view-contact</h2></div>
    <div class="info "><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellat vel minus earum, aliquid dolore provident voluptate iste ratione expedita consequuntur repudiandae! Repellendus omnis doloribus facere pariatur! Totam, error quam?</h4></div>
</div>
<div class="main2 row">
    <div class="img col-4 d-flex justify-content-center align-items-center"><img [src]="contact.photo" style="width: 200px;"alt=""></div>
    <div class="details col-4 pt-5 ">
        <ul class="list-group border border-primary justify-content-center">
            <li class=" list-group-item border border-primary">Name:<strong>{{contact.name}}</strong></li>
            <li class=" list-group-item border border-dark">contact:<strong>{{contact.name}}</strong></li>
            <li class=" list-group-item border border-primary">email:<strong>{{contact.email}}</strong></li>
            <li class="list-group-item border border-dark">company:<strong>{{contact.company}}</strong></li>
            <li class="list-group-item border border-primary">groups:<strong>{{groupname.name}}</strong></li>
        </ul>
    </div>
    <div class="col-4"></div>
</div>
